*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: cadetblue;
}
.container{
    width:690px;
    background: white;
    border-radius: 7px;
    padding:30px;
}
.wrapper{
    border-radius:5px;
    border:1px solid #bbb;
}
.wrapper .text-input
{
    display:flex;
    border-bottom: 1px solid #bbb;
}
.text-input .to-text{
        border-radius: 0px;
        border-left: 1px solid #bbb;
        
        color: black;
}
 .text-input textarea{
  height:250px;
  width:100%;
  border:none;
  outline:none;
  background:none;
  font-size: 18px;
  padding: 10px 15px;
  resize:none;
  border-radius: 5px;
} 
.controls{
    list-style: none;
    padding:12px 15px; 
}
.controls ,li, .icons{
    padding:12px 15px; 
    display:flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.controls .icons{
    width:38%;
}

.controls .row .from .icons{
    padding-right: 15px;
    border-right:1px solid #bbb;
}

.controls .row .to .icons{
    padding-right: 15px;
    border-right:1px solid #bbb;
}
.controls .icons i{
    color:#7f7d7d;
    font-size: 14px;
    cursor:pointer;
    width:50px;
    justify-content: center;
}
.controls .row select{
    border:none;
    outline:none;
    font-size: 18px;
    background:none;
}
.controls .exchange{
    color: #444444;
}
.container button{
 width:100%;
 padding:14px;
 margin-top:20px;
 border:none;
 outline:none;
 cursor:pointer;
 color:#bbb;
 font-size: 17px;
 border-radius:5px;
 background:#96b2b9;
 color:black;
}

